.about {
    padding: 5% 10%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    .title {
        width: 70%;
        text-align: left;
        * {
            transition: none;
        }
        .mainTitle {
            z-index: 2;
            font-size: 14vmin;
        }
        .subTitle {
            font-size: 4vmin;
            transition: none;
            width: 60%;
            a.email {
                color: $accent-color;
                font-size: small;
                &:hover {
                    text-decoration: line-through;
                }
            }
            .social a {
                font-size: 1em;
                &:hover {
                    color: $accent-color;
                }
            }
        }
        .image {
            aspect-ratio: 0.6663984375;
            position: relative;
            $height: 4em;
            height: $height;
            max-width: 100%;
            margin: 0 -1em;
            border-radius: 10px;
            z-index: 1;
            filter: grayscale(70%);
            background-image: url('../images/xarri.jpg');
            background-size: contain;
            &:before {
                content: '';
                position: absolute;
                aspect-ratio: 0.6663984375;
                height: $height;
                left: 5px;
                top: 5px;
                border: 2px solid whitesmoke;
                transform: translate(5px, 5px);
                border-bottom-right-radius: 15px;
                z-index: -1;
                mix-blend-mode: color-burn;
                border-top: none;
                border-left: none;
            }
        }
    }
    .details {
        width: 40%;
        margin-left: 0;
        align-items: flex-start;
        margin-left: auto;
        text-align: justify;
        font-size: 2vmin;
        line-height: 1.9em;
        .hobbies {
            margin-top: 10px;
        }
    }
    .social {
        display: flex;
        font-size: 30px;
        margin-top: 10px;
        a {
            margin-right: 10px;
            color: $teal-dark;
        }
    }
    @media screen and (max-width: 720px) {
        hr,
        .col2 {
            display: none;
        }
        .title {
            width: 80%;
        }

        .details {
            width: 80%;
            display: flex;
            flex-direction: column;
        }
    }
}
