.about {
    padding: 5% 10%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    font-size: calc(16px + 1vw);
    .title {
        width: 70%;
        text-align: left;
        * {
            transition: none;
        }
        .mainTitle {
            z-index: 2;
            font-size: clamp(36px, 14vmin, 8rem);
            font-weight: thin;
        }
        .image {
            // aspect-ratio: 0.6663984375;
            // aspect-ratio: 2.2222;
            position: relative;
            $height: 15em;
            height: $height;
            width: 600px;
            border-radius: 10px;
            text-align: right;
            z-index: 1;
            // filter: grayscale(70%);
            background-image: url('../images/xarri.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            &:before {
                content: '';
                position: absolute;
                aspect-ratio: 0.6663984375;
                height: $height;
                left: 5px;
                top: 5px;
                border: 2px solid whitesmoke;
                transform: translate(5px, 5px);
                border-bottom-right-radius: 15px;
                z-index: -1;
                mix-blend-mode: color-burn;
                border-top: none;
                border-left: none;
            }
        }
    }
    .highlight {
        font-size: calc(20px + 1vw);
        transition: none;
        line-height: 1.2em;
        font-weight: 100;
        width: 80%;
        margin: 2em 0;
        a.email {
            color: $accent-color;
            font-size: small;
            &:hover {
                text-decoration: line-through;
            }
        }
        .social a {
            font-size: max(4vmin, 20px);
            &:hover {
                color: $accent-color;
            }
        }
    }

    .details {
        width: 80%;
        margin-left: 0;
        align-items: flex-start;
        p {
            line-height: 1.9em;
            margin: 20px 0;
            font-size:calc(6px + 1vw);
            text-align: justify;
        }
        .primaryskill {
            font-family: cursive;
            margin: 0 5px;
        }
        .skills {
            font-size: 18px;

            .primaryskill {
                display: inline;
                font-size: 1.5em;
            }
            .highlight {
                margin: 0;
                margin-bottom: 20px;
            }
            .skillsets {
                margin-bottom: 50px;
            }
        }
        .hobbies {
            margin-top: 10px;
            font-family: 'Grandslam Roman', sans-serif;
        }
    }
    .social {
        display: flex;
        font-size: 30px;
        margin-top: 10px;
        a {
            margin-right: 10px;
            color: $teal-dark;
        }
    }
    @media screen and (max-width: 720px) {
        hr,
        .col2 {
            display: none;
        }
        .title {
            width: 80%;
        }

        .details {
            width: 80%;
            display: flex;
            flex-direction: column;
        }
    }
}
