.homepage {
    width: 100vw;
    height: 100vh;
    padding: 5vh 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .description {
        max-width: 100%;
        width: 40%;
    }

    .mySubText {
        font-size: 1em;
        line-height: 1.5em;
    }
}
.imgBox {
    width: 400px;
    height: 600px;
    border: 12px solid $dark-color;
    overflow: hidden;
    z-index: 0;
    &:hover {
        width: 450px;
        height: 450px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
    }
}
@media screen and (max-width: 920px) {
    .homepage {
        padding-top: 35vh;
        width: 80%;
        justify-content: center;
        align-items: center;
        background-position: 50% 10%;
        background-size: 40px;
        text-align: center;
        .homeNav {
            display: flex;
            flex-direction: column;
            margin: 50px 0;
            line-height: 6em;
            p {
                display: none;
            }
        }
        .description {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                font-size: 1.7rem;
            }
        }
        .mySubText {
            margin: 20px 0;
            width: 80%;
            font-size: 1rem;
            line-height: 1.2;
        }
    }
}
