/* Base styles */

@font-face {
  font-family: 'Open Sans';
  src: url("https://fonts.googleapis.com/css?family=Montserrat:300");
}

@font-face {
  font-family: "droid-serif";
  src: url("droid-Serif.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "droid-sans-mono";
  src: url("droid-sans-mono.woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --base: #282a36;
  --base-dark: #1d1f27;
  --base-light: #333545;
  --burgundy: #590016;
  --burgundy-light: #fff6f8;
  --burgundy-dark: #400010;
  --teal: #006767;
  --teal-light: #ddffff;
  --teal-dark: #004e4e;
  --color: #fffff8;

  /* --display: "Comfortaa", cursive; */
  --sans-serif: "droid-sans-mono", sans-serif;
  --serif: "droid-Serif", serif;
  --sans-serif2: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif);
}

footer {
  background: var(--burgundy-dark);
  height: 6vh;
  position: relative;
  bottom: -5vh;
}

.base {
  width: 100%;
  color: var(--color);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


/* Navigation styles class=navigation */

.navigation {
  height: 5vh;
  display: flex;
  flex-direction: row;
  line-height: var(--height);
  font-size: calc(0.5em + 0.6vw);
  justify-content: space-between;
  background-color: var(--base-dark);

  * {
    color: var(--burgundy-light);
    margin: 10px;
    text-decoration: none;
    font-family: var(--sans-serif);
    cursor: pointer;
  }

  .logo {
    width: 8%;
    max-width: 60px;
    justify-self: start;
  }
}

.active {
  color: var(--burgundy-dark);
}

/* Head Hero styles 
 * classes
 * head-hero
 * hero-content
 * hero-title
 * hero-sub
 * hero-desc
  */

.head-hero {
  --height: 95vh;
  height: var(--height);
  color: var(--burgundy-light);
  background-color: var(--base-dark);
}

.hero-title {
  // width: 80%;
  display:trid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  font-size: calc(1em + 1.2vw);
  letter-spacing: 8px;
  *{
    margin: 20px;
  }
}

// .head-hero .content {
//   padding-bottom: 20vh;
// }

.hero-sub {
  font-size: calc(0.5em + 1.3vw);
  color: var(--burgundy-dark);
  line-height: 1;
  font-family: var(--sans-serif);
}


.hero-desc {
  text-align: center;
  font-size: calc(0.5em + 1vw);
  margin-top: 2em;
  width: 100%;
  line-height: 2;
}

/* About styles 
 * classes
 * about
 * content
 * */

.about {
  height: 100vh;
  background: #fdfdfd;
  color: var(--base);
  font-family: var(--sans-serif2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .content {
    font-weight: 100;
    line-height: 30px;
    width: 45%;
    text-align: justify;
    position: relative;
    left: -10vw;
    top: 8vh;

    section {
      width: 70%;
      height: 9vh;
      background: var(--burgundy-dark);
      margin-bottom: 40px;
      margin-left: 10%;
    }

    .textContent {
      padding: 0 10%;
      font-family: var(--sans-serif2);
      font-size: calc(0.5em + 0.5vw);
    }


  }

  .graphic {
    width: 30%;
    height: 85%;
    background: var(--teal-dark);
    margin-bottom: 5%;
    margin-top: auto;
  }
}

.graphic img {
  width: 100%;
  height: 100%;
  border-left: 5px solid var(--burgundy);
  transform: translate(-10%, 7%);
  -webkit-filter: grayscale(80%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

/* Scrollbar style area  */

body {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: var(--base-dark);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--teal-dark);
  }
}

.mobileImage {
  display: none;
}

// Media queries section below 



@media only screen and (max-width:742px) {
  /* CSS rules here */
  body{
    display:flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }
  .hero-title{
    width: 100%;
    text-align: center;
  }
  .hero-desc{
    width: 80%;
  }
  .about {
    flex-direction: column;
    .content {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      
      .textContent{
        margin: 0; 
        padding: 0 10px;
      }
    }

    .graphic {
      display: none;
    }

    .mobileImage {
      display: block;
      float: left;
      width: 60%;
      margin-right: 10px;
    }
  }
}
