/* Base styles */
:root {
  --base: #282a36;
  --base-dark: #1d1f27;
  --base-light: #333545;
  --burgundy: #590016;
  --burgundy-light: #fff6f8;
  --burgundy-dark: #400010;
  --teal: #006767;
  --teal-light: #ddffff;
  --teal-dark: #004e4e;
  --color: #fffff8;
  --display: "Comfortaa", cursive;
  --sans-serif: "Montserrat", sans-serif;
  --serif: "Trirong", serif;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif);
}
.base {
  width: 100%;
  color: var(--color);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  width: 80%;
  font-size: 1.3em;
}

/* Navigation styles class=navigation */
.navigation {
  background: var(--base-light);
  display: block;
  float: right;
  --height: 7vh;
  height: var(--height);
  line-height: var(--height);
  font-size: 1.3em;
  text-align: right;
}
.navigation * {
  color: var(--color);
  margin: 10px;
  text-decoration: none;
  font-family: var(--display);
}

/* Head Hero styles 
 * classes
 * head-hero
 * hero-content
 * hero-title
 * hero-sub
 * hero-desc
  */

.head-hero {
  --height: 87vh;
  height: var(--height);
  /* background: var(--burgundy-dark); */
  background: linear-gradient(
    to bottom,
    var(--burgundy-light) 71%,
    var(--teal-light) 100%
  );
  color: var(--base-dark);
}
.hero-title {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  letter-spacing: 3px;
}

.hero-sub {
  font-size: 1em;
  color: var(--burgundy-dark);
  line-height: 25px;
}
.hero-div {
  font-size: 1.3em;
  border-left: 2px solid var(--base);
  height: 7vh;
  margin: 0 10px;
  color: var(--teal-dark);
}
.head-hero .content {
  width: 60%;
  height: 50vh;
}
.hero-desc {
  text-align: justify;
  margin-top: 2em;
  width: 80%;
}
/* About styles 
 * classes
 * about
 * content
 * */
.about {
  --height: 87vh;
  height: var(--height);
  background: var(--teal);
  color: var(--color);
}
.about .content {
  font-weight: 100;
  line-height: 40px;
  width: 60%;
  text-align: justify;
}
