/* Base styles */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
@font-face {
  font-family: "droid-serif";
  src: url("droid-Serif.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "droid-sans-mono";
  src: url("droid-sans-mono.woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --base: #282a36;
  --base-dark: #1d1f27;
  --base-light: #333545;
  --burgundy: #590016;
  --burgundy-light: #fff6f8;
  --burgundy-dark: #400010;
  --teal: #006767;
  --teal-light: #ddffff;
  --teal-dark: #004e4e;
  --color: #fffff8;
  /* --display: "Comfortaa", cursive; */
  --sans-serif: "droid-sans-mono", sans-serif;
  --serif: "droid-Serif", serif;
  --sans-serif2: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif);
}

footer {
  background: var(--burgundy-dark);
  height: 6vh;
  position: relative;
  bottom: -5vh;
}

.base {
  width: 100%;
  color: var(--color);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  width: 80%;
  font-size: 1.3em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation styles class=navigation */
.navigation {
  display: flex;
  flex-direction: row;
  line-height: var(--height);
  font-size: 1.3em;
  justify-content: flex-end;
}
.navigation * {
  color: var(--base);
  margin: 10px;
  text-decoration: none;
  font-family: var(--sans-serif);
  cursor: pointer;
}

.navigation .logo {
  width: 60px;
  justify-self: start;
  margin-right: auto;
}
.active {
  color: var(--burgundy-dark);
}

/* Head Hero styles 
 * classes
 * head-hero
 * hero-content
 * hero-title
 * hero-sub
 * hero-desc
  */

.head-hero {
  --height: 100vh;
  height: var(--height);
  color: var(--base-dark);
}

.hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  letter-spacing: 5px;
}
.head-hero .content {
  padding-bottom: 20vh;
}

.hero-sub {
  font-size: 1em;
  color: var(--burgundy-dark);
  line-height: 1;
  font-family: var(--sans-serif2);
}
.hero-div1 {
  border-right: 2px solid var(--burgundy-dark);
  height: 10vh;
  margin: 0 5px;
}
.hero-div2 {
  border-right: 2px solid var(--teal-dark);
  height: 6vh;
  margin: 0 5px;
}
.head-hero .content {
  width: 60%;
  height: 50vh;
}
.hero-desc {
  text-align: center;
  margin-top: 2em;
  width: 100%;
  line-height: 2;
}
/* About styles 
 * classes
 * about
 * content
 * */
.about {
  --height: 100vh;
  height: var(--height);
  background: #fdfdfd;
  color: var(--base);
  font-family: var(--sans-serif2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about .content {
  font-weight: 100;
  line-height: 30px;
  width: 45%;
  text-align: justify;
  justify-self: flex-start;
  position: relative;
  left: -10vw;
  top: 8vh;
}
.about .content section {
  width: 70%;
  height: 9vh;
  background: var(--burgundy-dark);
  margin-bottom: 40px;
  margin-left: 10%;
}
.about .content p {
  padding: 0 10%;
  font-family: var(--sans-serif2);
}

.about .graphic {
  width: 30%;
  height: 90%;
  background: var(--teal-dark);
  margin-bottom: 5%;
  margin-top: auto;
}
.graphic img {
  width: 100%;
  height: 100%;
  transform: translate(-10%, -7%);
  -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
  filter: grayscale(40%);
}

/* Bouncing down arrow styles */
.arrow {
  width: 50px;
  height: 50px;
  border-right: 5px double teal;
  border-bottom: 5px double teal;
  transform: translateX(300px) rotate(55deg) skew(20deg);
  transition: all 2s ease;
  margin-top: 10%;
  position: relative;
  top: 0;
  left: 10%;
  animation: bounce 3s ease infinite;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}
