@import './styles/palette';
@import './styles/home';
@import './styles/about';
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}
a {
    text-decoration: none;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    overflow: hidden;
}

.light-mode {
    position: relative;
    background-color: $burgundy-light;
    color: $primary-text-color;
    .highlight {
        color: $accent-color;
    }
    .homeLink {
        border-color: $burgundy;
        color: $dark-color;
        &:before {
            background-color: $burgundy;
        }
        &:hover {
            color: $burgundy-light;
        }
    }
}
.dark-mode {
    background: $dark-color;
    color: $burgundy-light;
    .highlight {
        color: $primary-color;
    }
    .homeLink {
        border-color: $primary-color;
        color: $burgundy-light;
        &:before {
            background-color: $primary-color;
        }
    }
}

.themeSwitchButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.themeSwitchButton:hover {
    cursor: pointer;
}

.light-mode .homeNavLink {
    color: #20242b;
}

/* Mobile styles for devices 720px and below */

@media screen and (max-width: 720px) {
    .App {
        width: 100%;
    }
}
