body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cormorant Garamond', serif;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
