body {
    margin: 0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 100; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Grandslang roman', sans-serif;
    letter-spacing: 4px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
