@font-face {
    font-family: 'GrandSlang Roman';
    src: url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.eot'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.woff2') format('woff2'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.woff') format('woff'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.ttf') format('truetype'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.svg#GrandSlang Roman')
            format('svg');
}

body {
    margin: 0;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 100; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Grandslang Roman', sans-serif;
    letter-spacing: 4px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
